<div class="sidebarBuilder" [class.sidebarActive]="isSidebarVisible">

  <h3 routerLink="">GAIA</h3>
  <a routerLink="analytics" class="sidebarFeature">Analytics</a>
  <a routerLink="deals" class="sidebarFeature">Deals</a>
  <a routerLink="field" class="sidebarFeature">Field</a>
  <a routerLink="greenhouse" class="sidebarFeature">GreenHouse</a>
  <a routerLink="shop" class="sidebarFeature">Shop</a>

  <a class="sidebarButton" (click)="toggleSidebar()" [class.sidebarButtonActive]="isSidebarVisible">G</a>
</div>
<div class="sidebarPlaceholder"></div>
