<div class="sidebarBuilder" [class.sidebarDisabled]="isSidebarVisible">

  <h3 routerLink="" (click)="toggleSidebar()">GAIA</h3>
  <a routerLink="analytics" class="sidebarFeature" (click)="toggleSidebar()">Analytics</a>
  <a routerLink="deals" class="sidebarFeature" (click)="toggleSidebar()">Deals</a>
  <a routerLink="field" class="sidebarFeature" (click)="toggleSidebar()">Field</a>
  <a routerLink="greenhouse" class="sidebarFeature">GreenHouse</a>
  <a routerLink="shop" class="sidebarFeature" (click)="toggleSidebar()">Shop</a>

  <a class="sidebarButton" (click)="toggleSidebar()" [class.sidebarButtonActive]="!isSidebarVisible">G</a>
</div>
<div class="sidebarPlaceholder" [class.sidebarActive]="!isSidebarVisible"></div>
