<div class="padding">
  <div class="row">
    <div class="title">Field Manager</div>
    <div class="featureNav">
      <a class="buttonLink" routerLink="planting">New Field</a>
      <a class="buttonLink" routerLink="planting">Overview</a>
    </div>
    <div class="largeCard">
      <app-graphcard [chartFromParent]="productionChart"></app-graphcard>
    </div>
    <div class="largeCard">
      <table>
        <tr>
          <td>FieldName</td>
          <td><a class="buttonLink" routerLink="planting">New Planting</a></td>
          <td><a class="buttonLink" routerLink="planting">Audit</a></td>
          <td><a class="buttonLink" routerLink="planting">Statistics</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
