/* Global Styles and Root variables */
*{
  margin: 0px;
  padding: 0px;
  color: black;
}

:root{
  /* Measurements */
  --sidebarWidth: 5.3rem;
}

.pageHolder{
  display: flex;
  flex-direction: row;
}

.padding{
  padding: 8px 7% 0;
}

/* Sidebar Styles */

.sidebarBuilder{
  left:  -5.3rem;;
  width: var(--sidebarWidth);
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: forestgreen;
}

.sidebarFeature{
  border-bottom: 2px solid black;
  color: white;
}

.sidebarFeature:hover{
  background-color: rgb(41, 167, 41);
  transition: 2s;
}

.sidebarButton{
  background-color: forestgreen;
  color: white;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: .55rem;
  position: fixed;
  left: 1.3rem;
  top: 50%;
}
.sidebarActive{
  left: 0;
}
.sidebarButtonActive{
  left: 4.7rem;
}

.sidebarPlaceholder{
  height: 100vh;
  background-color: forestgreen;
  width: 2rem;
}

/* Content Styles */
.row{
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(30vw, 1fr));
}


.largeCard{
  display: flex;
  flex-direction:column;
  padding: 1vh;
  margin: 1vh;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgb(190, 190, 190);
}

.featureNav{
  display: flex;
  flex-direction:row;
  padding: 1vh;
  margin: 1vh;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px rgb(190, 190, 190);
}

.buttonLink{
  background-color: forestgreen;
  color: white;
  border-radius: 5px;
  padding: .2rem;
  margin: .1rem;
  width: 6rem;
}
.buttonLink:hover{
  background-color: rgb(43, 172, 43);
}
